/* General CSS */

* {
  font-family: 'Nunito';
}

html {
  height: calc(100% - 0.65rem);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  border: #808080 10px solid;
  border-top: none;
}

#root {
  height: 100%;
}

input, button {
  outline: none;
}

input {
  border: none;
  border-bottom: #b3b3b3 .125em solid;
  padding: .1em;
  padding-left: .2em;
}

/* 
* BUTTON CSS 
*/

button {
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 1.2rem;
  text-align: center;
}

button:hover {
  background: #d0d0d0;
}

.delbtn:hover {
  color: red
}

.addbtn {
  margin-left: .25em;
}

.addbtn:hover {
  color: #00cc00;
}

.fin {
  margin-bottom: 1em;
  margin-left: .25em;
}

.fin:hover {
  color: #0000ff;
}

a {
  text-decoration: none;
}

/* 
* HEADER CSS 
*/

header {
  display: flex;
  background: #808080;
  height: 3.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 175%;
}

header ul {
  padding: 0;
  flex: 1;
  display: flex;
  margin: 0;
  align-items: center;
}

header ul * {
  padding: 0;
  flex: 1;
  text-align: center;
  list-style: none;
  color: white;
}

header ul .key {
  flex: 3
}

/*
* INITIAL SCREEN CSS
*/

.btns {
  display: flex;
  height: calc(100% - 3.5rem);
  width: 100%;
  margin: 0;
  padding: 0;
}

.btns a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 100%;
  width: 50%;
  float: left;
  font-size: 400%;
}

.btns a:hover {
  background: #ddd;
}

.btns a fonta {
  font-size: 400%;
}

.btns a {
  color: #333;
}

/* 
* QUIZ CSS 
*/

/* Title and Author CSS */

.title, .author {
  margin-bottom: .5rem;
  border-left: #b3b3b3 .125em solid;
}

.title {
  margin-top: .5rem;
  margin-left: .5rem;
  width: 85%;
  font-size: 200%;
}

.author {
  margin-left: 1rem;
  width: 80%;
  font-size: 150%;
}

#root > .addbtn {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Question CSS */

.qtitle {
  margin-left: .5rem;
  font-size: 135%;
  width: 80%
}

.question > .delbtn {
  font-size: 165%;
}

.question .addbtn {
  margin-left: 2em;
}

/* Answer CSS */

.answers {
  width: 95%;
}

.answer {
  font-size: 125%;
  width: 85%;
  margin: .35em;
}

.answer input {
  font-size: 100%;
  width: 45%;
}
