/* General CSS */

* {
  font-family: 'Nunito';
}

html {
  height: calc(100% - 0.65rem);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  border: #808080 10px solid;
  border-top: none;
}

#root {
  height: 100%;
}

input, button {
  outline: none;
}

input {
  border: none;
  border-bottom: #b3b3b3 .125em solid;
  padding: .1em;
  padding-left: .2em;
}

/* 
* BUTTON CSS 
*/

button {
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 1.2rem;
  text-align: center;
}

button:hover {
  background: #d0d0d0;
}

.delbtn:hover {
  color: red
}

.addbtn {
  margin-left: .25em;
}

.addbtn:hover {
  color: #00cc00;
}

.fin {
  margin-bottom: 1em;
  margin-left: .25em;
}

.fin:hover {
  color: #0000ff;
}

a {
  text-decoration: none;
}

/* 
* HEADER CSS 
*/

header {
  display: flex;
  background: #808080;
  height: 3.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 175%;
}

header ul {
  padding: 0;
  flex: 1;
  display: flex;
  margin: 0;
  align-items: center;
}

header ul * {
  padding: 0;
  flex: 1;
  text-align: center;
  list-style: none;
  color: white;
}

header ul .key {
  flex: 3
}

/*
* INITIAL SCREEN CSS
*/

.btns {
  display: flex;
  height: calc(100% - 3.5rem);
  width: 100%;
  margin: 0;
  padding: 0;
}

.btns a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  height: 100%;
  width: 50%;
  float: left;
  font-size: 400%;
}

.btns a:hover {
  background: #ddd;
}

.btns a fonta {
  font-size: 400%;
}

.btns a {
  color: #333;
}

/* 
* QUIZ CREATOR CSS 
*/

/* Title and Author CSS */

.create-title, .create-author {
  margin-bottom: .5rem;
  border-left: #b3b3b3 .125em solid;
}

.create-title {
  margin-top: .5rem;
  margin-left: .5rem;
  width: 85%;
  font-size: 200%;
}

.create-author {
  margin-left: 1rem;
  width: 80%;
  font-size: 150%;
}

#create-root > .addbtn {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* Question CSS */

.create-qtitle {
  margin-left: .5rem;
  font-size: 135%;
  width: 80%
}

.create-question > .delbtn {
  font-size: 165%;
}

.create-question .addbtn {
  margin-left: 2em;
}

/* Answer CSS */

.create-answers {
  width: 95%;
}

.create-answer {
  font-size: 125%;
  width: 85%;
  margin: .35em;
}

.create-answer input {
  font-size: 100%;
  width: 45%;
}

/*
* QUIZ VIEWER CSS
*/

#view-root {
  margin-left: .5rem;
  color: #2c2c2c;
}

.view-title {
  font-size: 300%;
  padding: 0;
  margin: 0;
  border-bottom: #444 2px solid;
  display: inline;
  padding-right: 2.5rem;
}

.view-preauthor {
  font-size: 125%;
  margin: 0;
  margin-top: .5rem;
  margin-left: 1.5rem;
  padding: 0;
  padding-left: .5rem;
  display: inline-block;
}

.view-author {
  font-size: 125%;
  margin: 0;
  margin-top: .5rem;
  padding: 0;
  padding-left: .5rem;
  padding-right: .75rem;
  border-bottom: #444 2px solid;
  display: inline-block;
}

.view-question {
  margin-top: 1rem;
  margin-left: 1rem;
  
}

.view-question h2 {
  margin: 0;
  font-size: 175%;
  padding-right: 2rem;
  border-bottom: #333 2px solid;
  display: inline;
}

.view-answers {
  list-style-type: upper-alpha;
  font-size: 135%;
  margin: 0;
  margin-top: 1rem;
  margin-left: .5rem;
}

/* The container */
.view-answer {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: .31rem;
  cursor: pointer;
  font-size: 85%
}

/* Hide the browser's default checkbox */
.view-answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #fff;
  border: #333 2px solid;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.view-answer:hover input ~ .radio {
  background-color: #999;
}

/* When the checkbox is checked, add a blue background */
.view-answer input:checked ~ .radio {
  background-color: #333;
}

.submit {
  margin-top: .75rem;
  margin-bottom: 1rem;
}

.submit:hover {
  color: #0000ff;
}

/* ERR MODAL */

.popup-content {
  background: #f88 !important;
  border: #f44 1px solid !important;
  border-radius: 5px;
  color: #c00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  width: 95%;
  margin: auto;
}

.results-title {
  border-bottom: #000 2px solid;
  text-align: center;
  margin: .25rem 0 .75rem 0;
}

.results-content {
  margin: 0;
  margin-left: 1.25rem;
  font-size: 125%;
}





